.vscode/**
.vscode-test/**
out/test/**

src/**
.github
.gitignore
.gitmodules
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

syntaxes/.vscode/**
syntaxes/test/**
syntaxes/*.m
syntaxes/.travis.yml
syntaxes/.git
syntaxes/.github
syntaxes/.gitignore

server/.eslintrc
server/.git
server/.github
server/.gitattributes
server/.gitignore
server/webpack.config.js

# Skip packaging the the source code in licensing/gui folder as it is already built and moved into
# out/ directory by the "compile" script in server/package.json. 

# The server/src/licensing/*.ts files compilation is already handled by server/tsconfig.json 
server/src/licensing/