# Run smoke tests nightly on vscode insiders version

name: test-nightly

# Controls when the workflow will run
on:
  schedule:
    - cron: "45 11 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-smoke:
    name: smoke-${{ matrix.version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: [R2021b, R2022a, R2022b, latest]
        os: [windows-latest, ubuntu-latest, macos-14]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: ${{ matrix.version }}
      - name: Setup node
        uses: actions/setup-node@v4
      - name: npm clean install
        run: npm run project-install-clean
      - name: Start Xvfb 
        run: /usr/bin/Xvfb :17 -screen 0 1024x768x24 > /dev/null 2>&1 & echo "Started xvfb"
        shell: bash
        if: ${{ success() && matrix.os == 'ubuntu-latest' }}
      - name: Run tests
        run: npm run test-smoke
        env:
          MLM_WEB_LICENSE: true
          MLM_WEB_ID: ${{secrets.MLM_WEB_ID}}
          MLM_WEB_USER_CRED: ${{secrets.MLM_WEB_USER_CRED}}
          DISPLAY: ":17.0"
          VSCODE_VERSION: "insider"